@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

/* header */

body{
    background: radial-gradient(circle, #feb2b2, #fc9082); 
    margin: 0;
    height: 100vh;
}

header p{
    color: white;
}

header .container{
    width: 100%;
    padding: 40px 50px;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 8vw;
}

.banner{
    display: flex;
    justify-content: center;
    padding: 50px 5px;

}

.banner .bannertxt{
    margin: 50px;
    text-align: center;
}

.banner .bannertxt h1{
    font-size: 120px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}  

/* corpo da pg */

main {
    margin: 70px 80px;
    padding: 60px 80px;
    text-align: justify;
    box-sizing: border-box;
    background-color: rgba(240, 248, 255, 0.498);
}

.sobresite .container{
   display: flex;
   flex-wrap: wrap;

}

.sobresite .txt{
    width: 50%;
    
}

.sobresite h2{
    color: #ff614d;
    font-size: 30px;
    padding-bottom: 10px;
}

.sobresite p{
    color: #8a5048;
    padding-right: 150px;
}

.sobresite .imagem1{
    width: 400px;
    margin-top: -100px;
    
    
}

@media only screen and (max-width: 850px) {
    .sobresite .imagem1{
        margin-top: 0px;
    }
    .sobresite .txt{
        width: 100%;
        
    }
}