@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

/* header */

body{
    background: radial-gradient(circle, #fddcdc, #ffb8ae); 
    margin: 0;
    height: 100vh;
}

header p{
    color: white;
}

header .container{
    width: 100%;
    padding: 40px 50px;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 8vw;
}

.banner{
    display: flex;
    justify-content: center;
    padding: 50px 5px;

}

.banner .bannertxt{
    margin: 50px;
    text-align: center;
}

.banner .bannertxt h1{
    font-size: 120px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}  

/* corpo da pg */

main {
    margin: 70px 50px;
    padding: 50px 130px;
    text-align: justify;
    background-color: rgba(250, 250, 250, 0.37);
    border-radius: 50px;
}

.sobresite .container{
    display: flex;
}

.sobresite .txt{
    width: 600px;
    padding-top: 20px;
}

.sobresite h2{
    color: #db6d5f;
    font-size: 44px;
    padding-top: 60px;
}

.sobresite p{
    color: #8a5048;
    width: 400px;
}

.sobresite .img{
    width: 400px;
}

/* sessao sobre mim */

.sobremim .container{
    display: flex;
}

.sobremim h2{
    color: #db6d5f;
    font-size: 40px;
}

.sobremim .img{
    width: 300px;
    padding-top: 20px;
}

.sobremim .txt{
    width: 550px;
    padding-top: 55px;
    padding-left: 110px;
}

.sobremim p{
    color: #8a5048;
}

