*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(255, 186, 186);
}

section,footer{
    padding: 70px 0;
}

h3{
    font-size: 50px;
}

p{
    color: white;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 5 1%;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 10vw;
}

nav ul{
    display: flex;
    align-items:center ;
}

nav ul a{
    color: white;
    margin: 0 50px;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
}

nav ul a::after{
    content: "";
    background-color: rgb(255, 109, 109);
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}


.banner{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.banner .bannertxt{
    margin: 100px;
    text-align: center;
    padding: 0 50px;
}

.banner .bannertxt h1{
    font-size: 150px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}  

.banner .bannertxt p{
    font-size: 25px;
    color: white;
    font-weight: lighter;
    margin: 10px 0;
    text-align: left;
}

/* oq é ed sexual */

.edsex .container{
    display: flex;
    align-items: center; 
    padding: 100px;
}

.edsex .edsextxt{
    width: 50%;
    padding: 0 40px;
}

.edseximg{
    width: 60%;
}

.edsextxt h3{
    font-size: 60px;
    color: #ff7373;
}

.edsextxt p{
    margin: 10px 0 10px 0;
    font-size: 23px;
    color: #ffffff;
    letter-spacing: 2px;
}


/* footer */

.footer{
    background-color: rgb(255, 117, 117);
    display: flex;
    padding: 50px;
}

.footer i{
    color: aliceblue;
    font-size: 30px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.footer p{
    margin-top: 5px;
    font-size: 20px;
}