@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
    background: rgb(255,227,227);
    background: radial-gradient(circle, rgba(255, 225, 222, 0.785) 38%, rgb(253, 156, 164) 100%);
}

h3{
    font-size: 50px;
}

p{
    color: white;
}

header .container{
    width: 100%;
    padding: 40px 50px;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 8vw;
}

nav ul{
    display: flex;
    align-items:center ;
}

nav ul a{
    color: white;
    margin: 0 50px;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}


nav ul a::after{
    content: "";
    background-color: rgb(255, 109, 109);
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
    padding: 50px 5px;

}

.banner .bannertxt{
    margin: 100px;
    text-align: center;
}

.banner .bannertxt h1{
    font-size: 150px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}  

.banner .bannertxt p{
    font-size: 25px;
    color: white;
    font-weight: lighter;
    margin: 15px 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

/* card sobre */

#cardcontainer {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 95%;
    background-color: #ff7e7eef;
    z-index: 1;
    transition: right 0.9s; 
    border-bottom-left-radius: 50px;
}

#cardsobre {
    padding: 40px 30px;
    text-align: justify;
}

#cardsobre h2{
    color: white;
    padding-bottom: 5px;
    padding-top: 20px;
    font-size: 20px;
}

#cardsobre p{
    color: #ffdcdc;
    font-size: 13px;
    margin-bottom: 5px;
}
/* fim do card */

/* oq é ed sexual */

.edsex .container{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 10px 110px;
    margin-top: 7%;
}

.edsex .edsextxt{
    width: 40%;
    text-align: justify;
}

.edseximg{
    width: 45%;
    padding: 0 120px;
}

.edsextxt h3{
    font-size: 26px;
    color: #ff7b7b;
}

.edsextxt p{
    padding: 15px 0;
    font-size: 16px;
    color: #a36767;
    text-align: justify;
}

/* outra sessao pra organizar melhor */

.edsex2 .container2{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 5px 150px;
    padding: 5px 40px;
}

.edsex2 .edsextxt2{
    font-size: 16px;
    text-align: justify;
}

.edsextxt2 h3{
    font-size: 26px;
    color: #ff7b7b;
}

.edsextxt2 p{
    padding: 15px 0;
    font-size: 16px;
    color: #a36767;
}

.edsextxt2 .citação{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    color:#d16060;
}

.edsex2 .imgcontainer{
    margin: 50px 180px;
    padding-bottom: 50px;
    display: flex;
    width: 30%;
}

.edsex2 .utero{
    padding-left: 60px;
}

/* dialogo c os jovens  */

.dialogos h2{
    margin: 5px 100px;
    padding: 10px 100px;
    font-size: 26px;
    color: #ff7b7b;
    text-align: justify;
}

.dialogos .container{
    margin: 10px 140px;
    padding: 5px 20px;
    display: flex;
    background: rgba(255, 208, 208, 0.753);
    border-radius: 50px;
}

.dialogos .container1 .infancia{
    padding: 40px 90px;
    color: #ff7b7b;
    text-align: justify;
}

.infancia h3{
    font-size: 20px;
    padding: 5px 0px;
}

.infancia p{
    color: #a36767;
    font-size: 15px ;
}

.dialogos .container2{
    padding: 40px 50px;
    color: #ff7b7b;
    text-align: justify;
}

.adolescencia h3{
    font-size: 20px;
    padding: 5px 0px;
}

.adolescencia p{
    color: #a36767;
    font-size: 15px ;
}

/* sessao grafico abuso infantil */
 
.grafico {
    justify-content: center;
    align-items: center;
}

.grafico h3 {
    margin: 40px 270px ;
    padding: 0 30px;
    font-size: 26px;
    color: #ff7b7b;
    text-align: justify;
}

.grafico .container{
    margin: 0 280px;
    padding: 10px 100px; 
}

.grafico .grafico1{
    width: 35vw;
}

/* fim da sessao */

/* footer */

footer{
    position: fixed;
    background: linear-gradient(#ff9c9c, #d16060);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    padding: 40px;
    position: absolute;
    width: 100%;
    margin-top: 7%;
    border-top-left-radius: 190px;
}

.redes{
    margin-bottom: 20px;
}

.redes i{
    font-size: 30px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

footer .p{
    font-size: 15px;
}