body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/fundo.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftlogin {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftlogin > h1 {
    font-size: 7vw;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 0px;
}

h2 {
    font-size: 1vw;
    color: rgb(255, 255, 255);
    padding-right: 30%;
}

.florlogin{
    width: 30vw;
}

.rightlogin {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px;
    background-color: rgba(255, 154, 170, 0.932);
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(165, 23, 23, 0.63);
}

.card > h1 {
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin: 0;
}

.txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.txt > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15x; 
    background-color: rgba(255, 255, 255, 0.192);
    color: rgb(250, 117, 139);
    font-size: 12pt;
    box-shadow: 0px 10px 30px rgba(143, 20, 20, 0.63);
    outline: none;
    box-sizing: border-box;
}

.txt > label {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.txt > input::placeholder{
    color: rgba(255, 255, 255, 0.596);
}

.btentrar{
    width: 30%;
    padding: 15px 5px;
    margin: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: large;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(255, 119, 130);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.685);
    cursor: pointer;
    box-shadow: 0px 10px 30px -12px rgba(92, 13, 13, 0.63) ;
}

.btentrar:hover {
    background-color: rgb(255, 196, 196);
}

.txtcad {
    color: rgb(255, 255, 255);
}

.btcadastro{
    color: rgb(247, 65, 95);
}